<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lifelink.lifelink">

    <!--
        Permissions for WifiP2P.
    -->
    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission
        android:required="true"
        android:name="android.permission.CHANGE_WIFI_STATE"/>

    <uses-permission
        android:required="true"
        android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LobbyCreation"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_lobby_creation"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".LobbyJoining"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_lobby_joining"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".InLobby"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="InLobby"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ingame"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_ingame"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".NameChange"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_name_change"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ColorChange"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_color_change"
            android:theme="@style/FullscreenTheme" />
    </application>

</manifest>